<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850161065278-0op1h6csd9hp5ee69js9a5901rrkt450.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850161065278-0op1h6csd9hp5ee69js9a5901rrkt450</string>
	<key>API_KEY</key>
	<string>AIzaSyBhVZ25yhSY7lXTfoQCfK_JbX-3oCh4hUE</string>
	<key>GCM_SENDER_ID</key>
	<string>850161065278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.artyomshilonosov.Focus-Notes</string>
	<key>PROJECT_ID</key>
	<string>focus-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850161065278:ios:0601661ee7609dc00ca06f</string>
</dict>
</plist>